
body{
    background : white;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 3px 20px #ccc;
}

.container{
    margin-top: 20px !important;
}

/* Css da navBar */

.navbar{
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-item{
    padding-right: .5rem;
}

/* Css do Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/*  Css Geral da Aplicação  */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #333;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: justify;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main p {
    margin-bottom: 1rem;
}

button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}